@page "/itemsCategories"
@inject HttpClient Http
@inject NotificationService NotificationSvc


<PageTitle>Items Categories</PageTitle>

<h1>Items Categories</h1>

@if (itemsCategories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid @ref="@grid" AllowFiltering="@true" AllowSorting="@true" AllowColumnResize="@true" PageSize="10" AllowPaging="@true" ColumnWidth="100px"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple" PagerHorizontalAlign="HorizontalAlign.Center"
                EditMode="DataGridEditMode.Single" Data="@itemsCategories" TItem="ItemsCategories_GridDTO" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
        <Columns>
            <RadzenDataGridColumn TItem="ItemsCategories_GridDTO" Title="Category name" TextAlign="TextAlign.Left" Filterable="@true" Property="@(nameof(ItemsCategories_GridDTO.Name))">
                <EditTemplate Context="dto">
                    <RadzenTextBox @bind-Value="dto.Name" Name="Category Name" Style="width:100%; display: block;" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ItemsCategories_GridDTO" Filterable="@false" Sortable="@false" Width="80px" TextAlign="TextAlign.Center">
                <Template Context="dto">
                    <RadzenButton Size="ButtonSize.Small" Icon="edit" ButtonStyle="ButtonStyle.Primary" Click="@(async (args) => await Edit(dto))" />
                </Template>
                <EditTemplate Context="dto">
                    <RadzenButton icon="save" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Click="@(async (args) => await Save(dto))" />
                    <RadzenButton icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(dto))" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ItemsCategories_GridDTO" Filterable="@false" Sortable="@false" Width="80px" TextAlign="TextAlign.Center">
                <Template Context="dto">
                    <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="async (args) => await Delete(dto)" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <br />
    <RadzenButton Icon="add_circle_outline" Text="Add New Category" ButtonStyle="ButtonStyle.Success" Click="(args) => Add()" Disabled="isEditing" />
}

@code {
    private RadzenDataGrid<ItemsCategories_GridDTO> grid;
    private ItemsCategories_GridDTO[] itemsCategories;
    private bool isEditing = false;

    protected override async Task OnInitializedAsync()
    {
        itemsCategories = await Http.GetFromJsonAsync<ItemsCategories_GridDTO[]>("api/ItemsCategories");
    }

    private async Task Edit(ItemsCategories_GridDTO dto)
    {
        isEditing = true;
        await grid.EditRow(dto);
    }

    private async Task Add()
    {
        isEditing = true;
        await grid.InsertRow(new ItemsCategories_GridDTO());
    }

    private async Task Save(ItemsCategories_GridDTO dto)
    {
        await grid.UpdateRow(dto);
        isEditing = false;
    }

    private void CancelEdit(ItemsCategories_GridDTO dto)
    {
        grid.CancelEditRow(dto);
        isEditing = false;
    }

    private async Task OnCreateRow(ItemsCategories_GridDTO dto)
    {
        var res = await Http.PostAsJsonAsync<ItemsCategories_GridDTO>("api/ItemsCategories", dto);

        if (!res.IsSuccessStatusCode)
        {
            NotificationSvc.Notify(
                NotificationSeverity.Error,
                "Saving failed",
                await res.Content.ReadAsStringAsync(),
                8000);
            grid.CancelEditRow(dto);
        }
        //reload always
        itemsCategories = await Http.GetFromJsonAsync<ItemsCategories_GridDTO[]>("api/ItemsCategories");
        StateHasChanged();
    }

    private async Task OnUpdateRow(ItemsCategories_GridDTO dto)
    {
        var res = await Http.PutAsJsonAsync<ItemsCategories_GridDTO>($"api/ItemsCategories/{dto.Id}", dto);

        if (!res.IsSuccessStatusCode)
        {
            NotificationSvc.Notify(
                NotificationSeverity.Error,
                "Saving failed",
                await res.Content.ReadAsStringAsync(),
                8000);
        }
        // reload always
        itemsCategories = await Http.GetFromJsonAsync<ItemsCategories_GridDTO[]>("api/ItemsCategories");
        StateHasChanged();
    }

    private async Task Delete(ItemsCategories_GridDTO dto)
    {
        var res = await Http.DeleteAsync($"api/ItemsCategories/{dto.Id}");

        if (!res.IsSuccessStatusCode)
        {
            NotificationSvc.Notify(
                NotificationSeverity.Error,
                "Deletion failed",
                await res.Content.ReadAsStringAsync(),
                8000);
        }
        else
        {
            itemsCategories = await Http.GetFromJsonAsync<ItemsCategories_GridDTO[]>("api/ItemsCategories");
            StateHasChanged();
        }
        isEditing = false;
    }
}
