@page "/plates"
@inject HttpClient Http
@inject NotificationService NotificationSvc
@inject DialogService DlgService


<PageTitle>Plates</PageTitle>

<h1>Plates</h1>

@if (plates == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid @ref="@grid" AllowFiltering="@true" AllowSorting="@true" AllowColumnResize="@true" PageSize="10" AllowPaging="@true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple" PagerHorizontalAlign="HorizontalAlign.Center"
                EditMode="DataGridEditMode.Single" Data="@plates" TItem="Plate_EditDTO">
        <Columns>
            <RadzenDataGridColumn TItem="Plate_EditDTO" Title="Plate name" TextAlign="TextAlign.Center" Filterable="@true" Property="@(nameof(Plate_EditDTO.Name))">
@*                <Template Context="dto">
                    <RadzenLink Text="dto.Name"  onclick="@(EditPlate(dto))"/>
                </Template>*@
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Plate_EditDTO" Title="Plate category" TextAlign="TextAlign.Center" Property="@(nameof(Plate_EditDTO.PlateCategory))" Filterable="@true">
                <Template Context="dto">
                    @dto.PlateCategoryName
                </Template>
                <EditTemplate Context="dto">
                    <RadzenDropDown TValue="int" Multiple="@false" Data="@platesCategories" Placeholder="Select category"
                                TextProperty="@(nameof(PlateCategory_GridDTO.Name))" ValueProperty="@(nameof(PlateCategory_GridDTO.Id))"
                                @bind-Value="@dto.PlateCategory" />
                </EditTemplate>
                <FilterTemplate Context="dto">
                    <RadzenDropDown TValue="int?" AllowClear="true" Multiple="@false" Data="@platesCategories"
                                TextProperty="@(nameof(PlateCategory_GridDTO.Name))" ValueProperty="@(nameof(PlateCategory_GridDTO.Id))"
                                @bind-Value="@catFilter" Change="async (args) => await OnCategoryFilterChange()" />
                </FilterTemplate>
            </RadzenDataGridColumn>
@*            <RadzenDataGridColumn TItem="Plate_EditDTO" Filterable="@false" Sortable="@false" TextAlign="TextAlign.Center">
                <Template Context="dto">
                    <RadzenButton Size="ButtonSize.Small" Icon="edit" ButtonStyle="ButtonStyle.Primary" Click="(args) => Edit(dto)" />
                </Template>
                <EditTemplate Context="dto">
                    <RadzenButton icon="save" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Click="(args) => Save(dto)" />
                    <RadzenButton icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => grid.CancelEditRow(dto))" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Plate_EditDTO" Filterable="@false" Sortable="@false" TextAlign="TextAlign.Center">
                <Template Context="dto">
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="async (args) => await Delete(dto)" />
                </Template>
            </RadzenDataGridColumn>*@
        </Columns>
    </RadzenDataGrid>
    <br />
    <RadzenButton Icon="add_circle_outline" Text="Add New Plate" ButtonStyle="ButtonStyle.Primary" Click="@(async (args) => await AddPlate())" />
}

@code {
    private RadzenDataGrid<Plate_EditDTO> grid;
    private PlateCategory_GridDTO[] platesCategories;
    private Plate_EditDTO[] plates;

    // category filter
    private int? catFilter;

    protected override async Task OnInitializedAsync()
    {
        platesCategories = await Http.GetFromJsonAsync<PlateCategory_GridDTO[]>("api/plateCategories");
        plates = await Http.GetFromJsonAsync<Plate_EditDTO[]>("api/plates");
    }

    async Task Edit(Plate_EditDTO dto)
    {
        await grid.EditRow(dto);
    }

    private void Add()
    {
        grid.InsertRow(new Plate_EditDTO());
    }

    private void Save(Plate_EditDTO dto)
    {
        grid.UpdateRow(dto);
    }

    private async Task OnCategoryFilterChange()
    {
        grid.Reset();
        plates = await Http.GetFromJsonAsync<Plate_EditDTO[]>($"api/plates?categoryId={catFilter}");
    }

    //private async Task OnCreateRow(Plate_EditDTO dto)
    //{
    //    Console.WriteLine("In OnCreateRow");
    //    var res = await Http.PostAsJsonAsync<Plate_EditDTO>("api/plates", dto);

    //    if (!res.IsSuccessStatusCode)
    //    {
    //        NotificationSvc.Notify(
    //            NotificationSeverity.Error,
    //            "Saving failed",
    //            await res.Content.ReadAsStringAsync(),
    //            8000);
    //        grid.CancelEditRow(dto);
    //    }
    //    //reload always
    //    plates = await Http.GetFromJsonAsync<Plate_EditDTO[]>("api/plates");
    //    StateHasChanged();
    //}

    //private async Task OnUpdateRow(Plate_EditDTO dto)
    //{
    //    var res = await Http.PutAsJsonAsync<Plate_EditDTO>($"api/plates/{dto.Id}", dto);

    //    if (!res.IsSuccessStatusCode)
    //    {
    //        NotificationSvc.Notify(
    //            NotificationSeverity.Error,
    //            "Saving failed",
    //            await res.Content.ReadAsStringAsync(),
    //            8000);
    //    }
    //    // reload always
    //    plates = await Http.GetFromJsonAsync<Plate_EditDTO[]>("api/plates");
    //    StateHasChanged();
    //}

    //private async Task Delete(Plate_EditDTO dto)
    //{
    //    var res = await Http.DeleteAsync($"api/plates/{dto.Id}");

    //    if (!res.IsSuccessStatusCode)
    //    {
    //        NotificationSvc.Notify(
    //            NotificationSeverity.Error,
    //            "Deletion failed",
    //            await res.Content.ReadAsStringAsync(),
    //            8000);
    //    }
    //    else
    //    {
    //        plates = await Http.GetFromJsonAsync<Plate_EditDTO[]>("api/plates");
    //        StateHasChanged();
    //    }
    //}

    private async Task AddPlate()
    {
        var dto = new Plate_DetailsDTO
            {
                Ingredients = new List<Ingredient_GridDTO>()
            };

        var dlgParams = new Dictionary<string, object>() {
            { "DTO", dto },
            { "IsNew", true }
        };
        var res = await DlgService.OpenAsync<Dlg_Plate_Edit>(
            "Add Plate", 
            dlgParams,
            new DialogOptions() { Width = "700px", Height = "500px" }
        );
    }
}
