@page "/platesCategories"
@inject HttpClient Http
@inject NotificationService NotificationSvc


<PageTitle>Plates Categories</PageTitle>

<h1>Plates Categories</h1>

@if (platesCategories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid @ref="@grid" AllowFiltering="@true" AllowSorting="@true" AllowColumnResize="@true" PageSize="10" AllowPaging="@true" ColumnWidth="100px"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple" PagerHorizontalAlign="HorizontalAlign.Center"
                EditMode="DataGridEditMode.Single" Data="@platesCategories" TItem="PlateCategory_GridDTO" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
        <Columns>
            <RadzenDataGridColumn TItem="PlateCategory_GridDTO" Title="Category name" TextAlign="TextAlign.Left" Filterable="@true" Property="@(nameof(PlateCategory_GridDTO.Name))">
                <EditTemplate Context="dto">
                    <RadzenTextBox @bind-Value="dto.Name" Name="Category Name" Style="width:100%; display: block;" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="PlateCategory_GridDTO" Filterable="@false" Sortable="@false" Width="80px" TextAlign="TextAlign.Center">
                <Template Context="dto">
                    <RadzenButton Size="ButtonSize.Small" Icon="edit" ButtonStyle="ButtonStyle.Primary" Click="async (args) => await Edit(dto)" />
                </Template>
                <EditTemplate Context="dto">
                    <RadzenButton icon="save" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Click="async (args) => await Save(dto)" />
                    <RadzenButton icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="(args) => grid.CancelEditRow(dto)" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="PlateCategory_GridDTO" Filterable="@false" Sortable="@false" Width="80px" TextAlign="TextAlign.Center">
                <Template Context="dto">
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="async (args) => await DeleteCategory(dto)" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <br />
    <RadzenButton Icon="add_circle_outline" Text="Add New Category" ButtonStyle="ButtonStyle.Success" Click="(args) => Add()" />
}

@code {
    private RadzenDataGrid<PlateCategory_GridDTO> grid;
    private PlateCategory_GridDTO[] platesCategories;

    protected override async Task OnInitializedAsync()
    {
        platesCategories = await Http.GetFromJsonAsync<PlateCategory_GridDTO[]>("api/PlateCategories");
    }

    private async Task Edit(PlateCategory_GridDTO dto)
    {
        await grid.EditRow(dto);
    }

    private async Task Add()
    {
        await grid.InsertRow(new PlateCategory_GridDTO());
    }

    private async Task Save(PlateCategory_GridDTO dto)
    {
        await grid.UpdateRow(dto);
    }

    private async Task OnCreateRow(PlateCategory_GridDTO dto)
    {
        var res = await Http.PostAsJsonAsync<PlateCategory_GridDTO>("api/PlateCategories", dto);

        if (!res.IsSuccessStatusCode)
        {
            NotificationSvc.Notify(
                NotificationSeverity.Error,
                "Saving failed",
                await res.Content.ReadAsStringAsync(),
                8000);
            grid.CancelEditRow(dto);
        }
        //reload always
        platesCategories = await Http.GetFromJsonAsync<PlateCategory_GridDTO[]>("api/PlateCategories");
        StateHasChanged();
    }

    private async Task OnUpdateRow(PlateCategory_GridDTO dto)
    {
        var res = await Http.PutAsJsonAsync<PlateCategory_GridDTO>($"api/PlateCategories/{dto.Id}", dto);

        if (!res.IsSuccessStatusCode)
        {
            NotificationSvc.Notify(
                NotificationSeverity.Error,
                "Saving failed",
                await res.Content.ReadAsStringAsync(),
                8000);
        }
        // reload always
        platesCategories = await Http.GetFromJsonAsync<PlateCategory_GridDTO[]>("api/PlateCategories");
        StateHasChanged();
    }

    private async Task DeleteCategory(PlateCategory_GridDTO dto)
    {
        var res = await Http.DeleteAsync($"api/PlateCategories/{dto.Id}");

        if (!res.IsSuccessStatusCode)
        {
            NotificationSvc.Notify(
                NotificationSeverity.Error,
                "Deletion failed",
                await res.Content.ReadAsStringAsync(),
                8000);
        }
        else
        {
            platesCategories = await Http.GetFromJsonAsync<PlateCategory_GridDTO[]>("api/PlateCategories");
            StateHasChanged();
        }

    }
}
